body{
	
    color: white;
    padding: 2% 20%;
    
}
h2{
	text-align: center;
}
p{
	color: black;
}
.jumbotron{
	background-color: black;
	padding-top: 8px;
	padding-bottom: 8px;
}

.form-group{
	margin-right: 10px;
}

#id{
	margin-left: 10px;
}
.heading h4{
	color: white;
	margin-bottom: 15px;
}
div.col-xs-12.col-sm-6.col-md-4{
	margin-left: 34%;
}